html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/*global*/
body{
	margin:0;
	padding:0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	/*color:#666;*/
	line-height:150%;
	margin:0;
	padding:0;
	background: url(images/main-bg.gif) repeat;
}
#body{
	background:url(images/bg-top.gif) repeat-x left top;
}
#container{
	background:url(images/bg-container.gif) no-repeat center top;
	width:940px;
	min-height:900px;
	margin:0 auto;
	overflow:hidden;
	padding:0px 3px;
}
.right{
	float:right;
}
.left{
	float:left;
}
p.border{
	margin:10px 0;
	padding:0;
	background:url(images/border.gif) no-repeat left top;
	height:26px;
	text-align:center;
}
h5.title{
	font:normal 18px/18px 'Signika Negative', sans-serif;
	background:#535353;
	margin:0;
	padding:0;
	border-radius:3px 3px 0px 0px;
	text-transform:capitalize;
	padding:8px 15px;
	color:#fff;
	margin-bottom:5px;
}
h5.title span{
	background:#fff;
	padding:0 5px 0 0;
}
.m-bottom{
	background:#eeeeee;
	text-align:right;
	margin:0;
	padding:6px 10px;
	border-top:1px solid #e1e0e0;
}
.m-bottom a{
	background:url(images/arrow-blue.gif) no-repeat left center;
	font-size:11px;
	padding-left:10px;
	color:#0866f3;
	text-decoration:none;
}
.m-bottom a:hover{
	color:#333;
}

/*standar link*/
a.more{
	color:#f00;
	text-decoration:none;
}
/*form*/
input.itext, input.itext2{
	background: url(images/bg-input.gif) repeat-x left top;
	height:24px;
	padding:2px 6px;
	border:none;
	margin:3px 0;
	color:#333;
	border:1px solid #666;
	border-radius:3px;
}
textarea.itext, textarea{
	background: url(images/bg-input.gif) repeat-x left top;
	padding:2px 6px;
	border:none;
	margin:3px 0;
	border:1px solid #E7E7E7;
	border-radius:3px;
}
select{
	background: url(images/bg-input.gif) repeat-x left top;
	padding:5px 6px;
	border:none;
	margin:3px 0;
	border:1px solid #E7E7E7;
	border-radius:3px;
}
.ibtn, .cbtn{
	font:normal 14px/18px 'Signika Negative', sans-serif;
	color:#fff;
	background:url(images/btn-kuning.gif) repeat-x left top;
	cursor:pointer;
	border:1px solid #e69d02;
	text-transform:uppercase;
	padding:5px 10px 4px;
	border-radius:3px;
}
.ibtn:hover, .cbtn:hover{
	color:#000;
}

/*table*/
table.default{
	width:600px;
	margin:0 auto;
}
.default td{
	padding:3px;
	border-bottom:1px solid #E7E7E7;
}
.default th{
	background:#333;
	color:#fff;
	padding:4px;
}
.default tr.bg2{
	background:#eee;
}
#top{
	height:132px;
}
#top h1{
	width:50%;
	margin:0;
	padding:0;
	margin-top:15px;
	float:left;
}
#top .sb{
	margin-top:8px;
}
.top_cell{
	margin-top:5px;
	height:50px;
	overflow:hidden;
}
/*nav*/
.nav{
	height:50px;
	font-size:11px;
	float:left;
	width:800px;
}
#nav, #nav ul{
	margin:0;
	padding:0;
	position: absolute;
	line-height:1.5em;
	z-index:999;
	text-transform:uppercase;
	list-style:none;
}
ul#nav{
	background: url(images/menu-line.gif) repeat-y left top;
	padding-left:2px;
}
#nav li{
	background: url(images/menu-line.gif) repeat-y right top;
	margin:0;
	padding:0px 2px 0px 0px;
	height:50px;
	float:left;
	position:relative;
}
#nav li li{
	background:none;
	padding:0px 0;
	margin:0;
	height:auto;
}
#nav a{
	padding:11px;
	color:#fff;
	text-decoration:none;
}
#nav a:hover{
}
#nav li a{
	padding:16px;
	display:block;
	text-shadow: 0px 1px 1px #617d10;
	font:normal 16px/20px 'Signika Negative', sans-serif;
	text-transform:capitalize;
}
#nav li a:hover, #nav li:hover > a{
	background:url(images/menuHover.gif) repeat-x left top;
}
#nav li ul li:hover > a{
	background:#1f2901;
	color:#c7d30f;
}
#nav li ul > li span{
	float:right;
}
#nav ul {
	position:absolute;
	display:none;
	top:50px;
	background:#2a3701;
}
#nav li ul a{
	color:#fff;
	width:11.2em;
	height:auto;
	float:left;
	padding:5px 5px;
	font:normal 12px/18px Arial, Helvetica, sans-serif;
}

#nav ul ul{
}	

#nav li ul ul {
	left:12em;
	top:0;
	margin:0px 0 0 10px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
	display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
	display:block;
}

p.toplink{
	float:right;
	background:#92C600;
	border-radius:0px 0px 5px 5px;
	font-size:10px;
	margin:0px 0 0;
	padding:5px 10px;
}
p.toplink a{
	text-decoration:none;
	color:#000;
	text-transform:uppercase;
}
p.toplink a:hover{
	color:#fff;
}

.logo{
	text-align:center;
	padding:8px;
}
.logo h1{
	margin:0;
	padding:0;
}
.logo h1 a img{
	width:292px;
	margin:0 auto;
}

/*middle*/
.wrapper{
	width:640px;
	float:left;
}
.mainpage, .news_flash, .block{
	background:#fff;
	border-radius:3px;
	box-shadow:0px 0px 3px #999;
	-webkit-box-shadow:0px 0px 3px #999;
	-o-box-shadow:0px 0px 3px #999;
	box-shadow:0px 0px 3px #999;
	overflow:hidden;
}
#middle{
	padding:10px 0px;
	margin-bottom:15px;
}
ul.list{
	margin:0;
	padding:0;
	list-style:none;
}
ul.list li{
	padding:0px 0 0px 15px;
	margin:0;
	border-bottom:1px solid #e9e9e9;
	background:url(images/bullet1.gif) no-repeat left center;
}
ul.list li:hover{
	background:url(images/bullet2.gif) no-repeat left center;
}
ul.list li a{
	text-decoration:none;
	color:#999;
	display:block;
	padding:4px 0;
}
ul.list li a:hover{
	color:#004f75;
}
ul.list li h3 a{
	font:normal 18px/18px 'Signika Negative', sans-serif;
	color:#004f75;
	margin:0;
	padding:0;
}
ul.list li h3 a:hover{
	text-decoration:underline;
}
.block{
	margin-bottom:20px;
	background:#fff;
	border-radius:3px;
	box-shadow:0px 0px 3px #2b3d00;
	-webkit-box-shadow:0px 0px 3px #2b3d00;
	-o-box-shadow:0px 0px 3px #2b3d00;
	box-shadow:0px 0px 3px #2b3d00;
	overflow:hidden;
	color:#000;
}
.block h5{
	font:normal 18px/18px 'Signika Negative', sans-serif;
	background:#9ED61B;
	margin:0;
	padding:0;
	border-radius:3px 3px 0px 0px;
	text-transform:capitalize;
	padding:8px 15px;
	color:#000;
	margin-bottom:5px;
}
.block h5 span{
	background:#fff;
	padding:0 5px 0 0;
}
.sidebar .block .cell{
	padding:6px;
}

.btamu{
	height:150px;
}
.page{
	width:677px;
	padding-top:10px;
}

.search{
	background: url(images/bg-trans2.png) repeat;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	padding:8px;
	margin-bottom:10px;
}
.search p{
	margin:0;
	padding:0;
}
.search input.itext{
	border:1px solid #8c8c8c;
	border-radius:3px;
	width:258px;
	color:#c9c9c9;
}
.search input.itext2{
	border:1px solid #8c8c8c;
	border-radius:3px;
	width:169px;
	color:#c9c9c9;
}
.search select{
	border:1px solid #8c8c8c;
	border-radius:3px;
	width:272px;
	color:#c9c9c9;
}
.search .ibtn{
	width:86px;
}
.search a{
	color:#fff;
	text-decoration:none;
}
.search a:hover{
	color:#333;
}

/*news*/
.news_item{
	background:url(images/newsItem.gif) repeat-x left bottom;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
.news_item h2{
	font:normal 20px/20px 'Signika Negative', sans-serif;
	margin:0px 0px 10px;
	padding:0px;
	color:#333;
}
.news_item h3{
	font:normal 16px/16px 'Signika Negative', sans-serif;
	margin:0;
	padding:0;
}
.news_item h3 a{
	color:#689000;
	text-decoration:none;
}
.news_item h3 a:hover{
	text-decoration:underline;
	color:#075c7b;
}
.news_item b{
	color:#333;
}
.news_meta{
	background:#ebebeb;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	padding:5px;
	margin:10px -10px 0px -10px;
	border-top:1px solid #fff;
}
.penulis, .tanggal, .komen{
	padding-left:20px;
	text-transform:uppercase;
	color:#a0a0a0;
	font-size:10px;
	font-weight:bold;
	margin-right:10px;
	display:inline-block;
	height:16px;
}
span.penulis{
	background: url(images/author.gif) no-repeat left center;
}
span.tanggal{
	background: url(images/tanggal.gif) no-repeat left center;
}
span.komen{
	background: url(images/komen.gif) no-repeat left center;
}
.sb a{
	margin:0 5px;
}
.news_thumb{
	width:67px;
	height:84px;
	float:left;
	margin:0px 15px 0px 0px;
	display:block;
}
.news_thumb img{
	border:1px solid #d7d7d7;
	width:67px;
	height:76px;
	padding:3px;
}
.news_flash h5{
	background:#507004;
}
.news_flash .m-bottom{
	background:#e0ff97;
	border-top:1px solid #b6e153;
}
.news_flash .m-bottom a{
	color:#000;
}
.news_flash .news_item{
	padding-top:5px;
	border:none;
	line-height:130% !important;
	background:none;
}
.news_flash .date{
	font-size:10px;
	font-style:italic;
}
.news_flash .news_item h3{
	margin:0px 0px 10px;
}
.news_flash .news_item h3 a{
	color:#f00;
}

.news_flash .news_thumb{
	height:121px;
	width:109px;
	padding:3px;
	margin:0px 5px 0px 0px !important;
}
.news_flash .news_thumb img{
	width:97px;
	height:109px;
	margin:3px !important;
}
.news_flash ul.list{
	margin:15px;
	padding:0;
}
.list h5{
	margin:0 0px 10px;
	padding:0 0px 10px;
	border-bottom:1px solid #999;
	font:normal 16px/16px 'Signika Negative', sans-serif;
	text-transform:capitalize;
	color:#333;
}
.news_flash .list li{
	border-bottom:1px dotted #ccc;
	padding:3px 0px;
}
.news_flash .list li a{
	color:#689000;
	background:url(images/dot-sidebar.gif) no-repeat left center;
	padding-left:10px;
}
.detail .news_item{
	padding:8px;
}
/*sidebar*/
.sidebar{
	width:288px;
	float:right;
}

.poll{
}
.poll p{
	margin:0;
	padding:0px;
}
.poll .ibtn{
	background-color:#37a1b5;
}
.poll .ibtn:hover{
	background-color:#2a8da0;
}

.video .cell{
	text-align:center;
}
.buku{
}
.buku h5{
	margin:0px;
}
.buku .cell{
	height:151px;
}
.buku h2{
	margin:0px 0px 10px;
	padding:0;
	font:normal 18px/18px 'Signika Negative', sans-serif;
	color:#4c6cc8;
}
.buku .cell a{
	text-decoration:none;
	color:#333;
	background:#e2e2e2;
	font-size:10px;
	padding:2px 6px;
	border-radius:2px;
}
.buku .cell a:hover{
	background:#ccc;
}
.buku img{
	width:98px;
	height:131px;
	padding:3px;
	border:1px solid #69920a;
	background:#fff;
	margin:0px 10px 0px 0px;
}

/*banner*/
.sidebar .banner{
	text-align:center;
}
.sidebar .banner a img{
	width:138px;
	border:2px solid #dcdcdc;
	min-height: 60px;
}
.sidebar .banner a img:hover{
	border-color:#36a7ef;
}
/*paging*/
.paging{
	text-align:center;
	margin:15px 0px;
	background:url(images/bg-trans2.png) repeat;
	border-radius:3px;
	padding:5px;
}
.paging a{
	background:url(images/paging.gif) repeat-x;
	padding:4px 7px;
	font-size:11px;
	border-radius:2px;
	text-decoration:none;
	color:#333;
}
.paging a:hover, .paging a.active{
	background:url(images/pagingHover.gif) repeat-x;
	color:#fff;
}
.active {
	background:url(images/menuHover.gif) repeat-x left top;
}

/*slider*/
#slider div{
	text-align:center;
}
#slider div img{
	width:99px;
	height:132px;
	padding:4px;
	background:#fff;
	border:1px solid #dd7100;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	box-shadow:0px 0px 40px #ff0;
	-moz-box-shadow:0px 0px 40px #ff0;
	-webkit-box-shadow:0px 0px 40px #ff0;
}
#slider div p{
	margin:0;
	padding:8px;
	font-weight:bold;
	text-shadow:0px 1px 0px #fdba73;
}
#slider div a{
	color:#fff;
	text-decoration:none;
}
#slider div a:hover{
	color:#000;
	text-decoration:underline;
}
.bx-pager{
	background:#532B00;
	margin:0;
	padding:6px 10px;
}
.bx-pager a{
	font-size:11px;
	color:#333;
	text-decoration:none;
	background:#d4d4d3;
	margin:3px;
	padding:3px 7px;
}
.bx-pager a.pager-active{
	background:#fff;
	box-shadow:inset 0px 0px 5px #999;
}
.bx-pager a:hover{
	color:#333;
}
.bx-prev, .bx-next{
	display:none;
}
.bx-window{
	background:#FF911E;
	color:#532b00;
	padding:10px 0px;
}

/*buku tamu*/
.buku h5{
	background:#532B00;
	color:#fff;
}
.btamu h5{
	margin-bottom:0px;
}
.btamu .cell{
	background:#fff;
}
.btamu p{
	background:#D5E3F7;
	padding:4px;
	color:#000;
	margin:1px 0px;
}
.btamu p:nth-child(even){
	background:#FBE786;
}
.btamu p a{
	background:#34ADDB;
	padding:1px 5px;
	color:#fff;
	text-decoration:none;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.btamu p:nth-child(even) a{
	background:#F5822B;
}
.btamu p a:hover{
	color:#000;
}


/*footer*/
#bottom{
	background:url(images/bg-trans.png) repeat;
	padding-top:1px;
	color:#b6b6b6;
}
#bottom h5{
	color:#fff;
	padding:6px;
	border-bottom:2px solid #4d4d4d;
	background:none;
	font:normal 16px/16px 'Signika Negative', sans-serif;
}
.bot_cell{
	border-top:1px solid #acacac;
}
.bot_container{
	width:940px;
	margin:0 auto;
}
#bottom .block{
	background:url(images/bg-trans2.png) repeat;
	padding:0px 8px 8px 8px;
	float:left;
	margin:6px;
	border:1px solid #777;
	box-shadow:0px 0px 3px #333;
	-webkit-box-shadow:0px 0px 3px #333;
	-o-box-shadow:0px 0px 3px #333;
	box-shadow:0px 0px 3px #333;
}
body:nth-of-type(1) #bottom .block{margin:6px 5px;}
#bottom .block .cell{
}
#bottom .block li{
	border:none;
	background:url(images/list-line.gif) repeat-x left bottom;
	padding:3px 0px;
}
#bottom .block li a{
	background:url(images/foot-arrow.gif) no-repeat left center;
	padding-left:15px;
	color:#b6b6b6;
}
#bottom .block li a:hover{
	color:#fff;
}
#bottom .announ{
	width:283px;
}

.myButton {
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	box-shadow:inset 1px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:2px solid #ebebeb;
	display:inline-block;
	color:#679000;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.myButton:active {
	position:relative;
	top:1px;
}
/*notif*/
.error,.success,.alert,.notif,.info,.notebox-done,.notebox-warning,.notebox-alert{
	float:left;
	font-size: 12px;
	font-family: "Verdana","Times New Roman",Times,serif;
	margin-top: 10px;
	margin-bottom: 10px; 	
	margin-left: 10px;
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 35px;
	-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;	
	width:85%;
	}
.error{
	border:1px solid rgb(248, 172, 172);
	background-color:rgb(255, 209, 209);
	background-image: url(images/cross.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	}
.notebox-done{
	border:1px solid #CEEFFF;
	background-color: rgb(234, 247, 217);
	background-image: url(images/accept.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	}
.notebox-warning{
	border:1px solid rgb(242, 221, 140);
	background-color: rgb(255, 245, 204);
	background-image: url(images/error.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	}
.notebox-alert{
	border:1px solid rgb(184, 226, 251);
	background-color: rgb(232, 246, 255);
	background-image: url(images/exclamation.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	}
